 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>About Me</h3>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-2">
                    <p>Hi, I'm Julia, or Julie, or Jules. I am a marine biologist practicing and promoting open science. I earned my PhD at Stanford University studying the behavior of Humboldt squid and am now with the Ocean Health Index at the University of California, Santa Barbara. </p>
                </div>
                <div class="col-lg-5">
                    <p>Julia Stewart Lowndes, PhD</p>
                    <p>lowndes@nceas.ucsb.edu</p>
                    <p>github: jules32</p>
                    <p>twitter: @juliesquid</p>
                </div>
                    </a>
                </div>
            </div>
        </div>
    </section>