 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>About Me</h3>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                 <div class="col-lg-5 col-lg-offset-2">
                    <p>Hi, I'm Julia, or Julie, or Jules.</p> 
                    <p>I am a Mozilla Fellow and marine data scientist at the National Center for Ecological Analysis and Synthesis (NCEAS). As Science Program Lead for the Ocean Health Index (OHI), I work to bridge marine science, data science, and management, and I lead trainings through OHI, NCEAS, Software Carpentry, RLadies, and Eco-Data-Science. I earned my PhD from Stanford University in 2012. </p>
                </div>
                <div class="col-lg-5">
                    <p>email: lowndes at nceas.ucsb.edu</p>
                    <p>github: <a href="https://github.com/jules32" target="_blank">@jules32</a></p> 
                    <p>twitter: <a href="https://twitter.com/juliesquid" target="_blank">@juliesquid</a></p>
                </div>
                </div>
            </div>
    </section>