 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-2">
                    <p>I am a marine biologist working to improve ocean health, and I practice and promote open science. I earned my PhD from Stanford University studying the behavior of Humboldt squid, and currently work on the Ocean Health Index project at UCSB. </p>
                </div>
                <div class="col-lg-5">
                    <p>Julia Stewart Lowndes, PhD</p>
                    <p>github: jules32</p>
                    <p>twitter: @juliesquid</p>
                    <p>lowndes@nceas.ucsb.edu</p>
                </div>
                    </a>
                </div>
            </div>
        </div>
    </section>