 <!-- Publications Section -->
    <section class="success" id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Publications and Media</h3>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% include pubs.html %}
                </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    
  